.home__header {
    background: url("../assets/hero-bg.png");
    position: relative;

    .hero {
        padding: 2rem $padding-x;
        display: flex;
        align-items: center;
        height: 500px;

        h1 {
            color: $main-white;
            font-size: clamp(2.5rem, 4.3vw, 3.5rem);
            max-width: 800px;

            span {
                color: $base-color;
            }
        }
    }
}

.apartment {
    padding: 2rem $padding-x;

    .category {
        @include flex;
        flex-wrap: $flex-wrap;
        gap: 2rem;

        div {
            button {
                background: black;
                color: $main-white;
                border: 1.5px solid $button-border;
                border-radius: 8px;
                padding: 0.7rem 1rem;
                cursor: pointer;

                &:focus {
                    border: 1.5px solid $base-color;
                }
            }
        }

        .filters {
            background: $base-color;
            color: $main-white;
            font-size: $regular;
            font-weight: map-get($font-weights, big);
            gap: $small;
            box-shadow: 0px 5px 40px #2d5981;
            border-radius: 8px;
            border: none;
            padding: 0.6rem 1rem;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .apartments {
        @include flex;
        flex-wrap: $flex-wrap;
        gap: 1rem;
        margin: 2rem 0;

        .houses {
            background: $apartment-bg;
            flex-basis: $basis-400;
            flex-grow: $flex-grow-1;
            border-radius: 8px;

            img {
                width: 100%;
            }

            .price {
                @include flex;
                margin: 0.6rem;

                p {
                    color: white;
                    font-size: $big;
                    font-weight: map-get($font-weights, big);
                }

                button {
                    @include linearGradient;
                }
            }

            .about {
                @include flex;
                border: 1px solid rgba(255, 251, 251, 0.65);
                border-radius: 8px;
                background: $apartment-bg;
                margin: 0.6rem;
                overflow: hidden;

                & button:nth-child(2) {
                    border-left: 1px solid rgba(255, 251, 251, 0.65);
                    border-right: 1px solid rgba(255, 251, 251, 0.65);
                }

                button {
                    flex-grow: $flex-grow-1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    color: rgba(255, 251, 251, 0.65);
                    padding: 0.7rem 0.3rem;
                    background: $apartment-bg;
                    gap: 3px;

                    img {
                        height: 15px;
                        max-width: 20px;
                    }
                }
            }
        }
    }
}

.neigbourhood {
    padding: 2rem $padding-x;

    h3 {
        color: $base-yellow;
        font-size: calc($semi-large - 5px);
    }

    p {
        color: hsl(0, 0%, 100%, 0.5);
        font-size: $regular;
        margin: 1rem 0;
    }

    .map {
        background: $main-white;
        overflow: hidden;
        border-radius: 8px;

        &__img {
            width: 100%;
            max-width: 1000px;
            display: block;
            margin: auto
        }

        div {
            @include flex;
            flex-wrap: $flex-wrap;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: $flex-grow-1;
                flex-basis: 110px;
                font-size: $small;
                font-weight: map-get($font-weights, big);
                gap: 6px;
                padding: 0.5rem;
                color: rgba(27, 27, 27, 0.55);
                background: $main-white;
                border: none;
                margin: .5rem 0;

                img {
                    height: 18px;
                }
            }
        }
    }
}

.about__us {
    @include flex;
    padding: 5rem $padding-x;
    flex-wrap: $flex-wrap;
    align-items: center;
    row-gap: 5rem;
    column-gap: 5rem;
    background: url('../assets/about-bg.png') no-repeat;
    background-size: cover;

    h3 {
        color: $base-color;
        font-size: $big;
        margin-bottom: 1rem;
    }

    h4 {
        color: $base-color;
        font-size: $big;
    }

    h5 {
        color: rgba(255, 251, 251, 0.65);
        font-size: 1rem;
        margin: .7rem 0;
    }

    p {
        font-size: $small;
        color: white;
        line-height: 1.7rem;
    }

    button {
        @include blue-btn;
        box-shadow: 0px 4px 10px #2D5981;
        font-size: $regular;
        margin-top: 1rem;
    }

    .about {
        flex-grow: 2.5;
        flex-basis: 300px;

        p {
            max-width: 600px
        }
    }

    .what-we-do {
        display: flex;
        flex-direction: column;
        flex-grow: .5;
        flex-basis: 300px;
        gap: 2rem;
        text-align: center;
        margin: auto;

        p {
            max-width: 280px;
            margin: auto;
        }
    }
}

.dream__home {
    color: $main-white;
    padding: 3rem $padding-x;
    @include flex;
    flex-wrap: $flex-wrap;
    row-gap: 3rem;
    column-gap: 6rem;

    div {
        flex-grow: $flex-grow-1;
        flex-basis: $basis-400;

        h2 {
            font-size: clamp(2.5rem, 4.3vw, 3.5rem);
            margin-bottom: 1.5rem;

            span {
                color: $base-color;
            }
        }

        p {
            color: hsla(0, 100%, 99%, 0.65);
            font-size: $big;
        }
    }

    form {
        flex-grow: $flex-grow-1;
        flex-basis: $basis-400;
        @include flex;
        flex-wrap: $flex-wrap;
        align-items: center;
        max-width: 580px;
        margin: auto;
        gap: $regular;

        input {
            color: hsla(0, 0%, 95%);
            font-size: $regular;
            flex-grow: $flex-grow-1;
            flex-basis: 200px;
            background: transparent;
            border: none;
            border-bottom: 1px solid hsl(0, 0%, 95%);
            padding: .6rem 0;
            margin-bottom: 1rem;
            max-width: 100%;


            &:focus {
                outline: none;
                border-bottom: 2px solid $base-color;
            }
        }

        select {
            flex-grow: $flex-grow-1;
            flex-basis: 200px;
            font-size: $regular;
            background: transparent;
            border: none;
            padding-bottom: 2.5px;
            border-bottom: 1px solid hsl(0, 0%, 95%);
            color: hsla(0, 0%, 95%);
            max-width: 100%;

            &:focus {
                outline: none;
                border-bottom: 2px solid $base-color;
            }

            option {
                color: hsla(0, 0%, 95%);
                background: black;

                &:hover {
                    background: white;
                }
            }
        }

        textarea {
            flex-basis: 600px;
            flex-grow: 1;
            font-size: $regular;
            resize: none;
            border: none;
            border-bottom: 1px solid hsl(0, 0%, 95%);
            background: transparent;
            color: hsla(0, 0%, 95%);
            padding: .6rem 0;
            max-width: 100%;

            &:focus {
                outline: none;
                border-bottom: 2px solid $base-color;
            }
        }

        button {
            @include blue-btn;
            font-size: $regular;
            margin-top: 1.5rem;
        }
    }
}