@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  background: black;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem clamp(1rem, 6vw, 15rem);
}
nav .logo {
  height: 3.5rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav ul a {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
}
nav ul .dropdown {
  display: flex;
  align-items: center;
}
nav ul .sign-up-btn {
  color: hsl(0deg, 0%, 100%);
  background: hsl(202deg, 100%, 56%);
  box-shadow: 0px 1px 30px hsl(202deg, 100%, 56%);
  font-family: "Inter";
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
nav .hamburger {
  cursor: pointer;
  display: none;
}
nav .hamburger span {
  display: block;
  height: 2px;
  width: 25px;
  border-radius: 10px;
  background: white;
  margin: 5px 0;
}

footer {
  padding: 4rem 0 2rem 0;
}
footer .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 clamp(1rem, 6vw, 15rem) 2rem clamp(1rem, 6vw, 15rem);
  border-bottom: 1px solid rgba(255, 251, 251, 0.35);
}
footer .flex .about {
  flex-grow: 1;
  flex-basis: 280px;
}
footer .flex .about p {
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9rem;
  max-width: 350px;
  margin-top: 1rem;
}
footer .flex .about p span {
  color: hsl(202deg, 100%, 56%);
}
footer .flex .contact {
  flex-grow: 1;
  flex-basis: 280px;
}
footer .flex .contact h4 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
}
footer .flex .contact p {
  color: hsla(0deg, 0%, 100%, 0.8);
  font-size: 0.9rem;
  margin-top: 1.5rem;
}
footer .flex .contact a {
  color: hsla(0deg, 0%, 100%, 0.8);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  margin: 1rem 0;
}
footer .follow__us {
  flex-grow: 1;
  flex-basis: 280px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
footer .follow__us h4 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
}
footer .follow__us div {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}
footer .follow__us select {
  font-size: 1rem;
  background: transparent;
  border: none;
  border: 1px solid hsl(0deg, 0%, 95%);
  color: hsl(0deg, 0%, 95%);
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}
footer .follow__us select option {
  color: hsl(0deg, 0%, 95%);
  background: black;
}
footer .follow__us select option:hover {
  background: white;
}
footer .rights {
  color: hsl(0deg, 100%, 99%);
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
}

#home__header {
  background: url("../assets/hero-bg.png");
  position: relative;
}
#home__header .hero {
  padding: 2rem clamp(1rem, 6vw, 15rem);
  display: flex;
  align-items: center;
  height: 500px;
}
#home__header .hero h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: clamp(2.5rem, 4.3vw, 3.5rem);
  max-width: 800px;
}
#home__header .hero h1 span {
  color: hsl(202deg, 100%, 56%);
}

.apartment {
  padding: 2rem clamp(1rem, 6vw, 15rem);
}
.apartment .category {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.apartment .category div button {
  background: black;
  color: hsl(0deg, 0%, 100%);
  border: 1.5px solid hsla(0deg, 100%, 99%, 0.35);
  border-radius: 8px;
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.apartment .category div button:focus {
  border: 1.5px solid hsl(202deg, 100%, 56%);
}
.apartment .category .filters {
  background: hsl(202deg, 100%, 56%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
  font-weight: 500;
  gap: 0.9rem;
  box-shadow: 0px 5px 40px #2d5981;
  border-radius: 8px;
  border: none;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.apartment .apartments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}
.apartment .apartments .houses {
  background: hsl(0deg, 0%, 9%);
  flex-basis: 350px;
  flex-grow: 1;
  border-radius: 8px;
}
.apartment .apartments .houses img {
  width: 100%;
}
.apartment .apartments .houses .price {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}
.apartment .apartments .houses .price p {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
.apartment .apartments .houses .price button {
  background: linear-gradient(90deg, hsl(26deg, 99%, 71%) 0%, hsl(273deg, 80%, 65%) 100%);
  box-shadow: 0px 17px 33px hsla(0deg, 0%, 100%, 0.2);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.apartment .apartments .houses .about {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(255, 251, 251, 0.65);
  border-radius: 8px;
  background: hsl(0deg, 0%, 9%);
  margin: 0.6rem;
  overflow: hidden;
}
.apartment .apartments .houses .about button:nth-child(2) {
  border-left: 1px solid rgba(255, 251, 251, 0.65);
  border-right: 1px solid rgba(255, 251, 251, 0.65);
}
.apartment .apartments .houses .about button {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: rgba(255, 251, 251, 0.65);
  padding: 0.7rem 0.3rem;
  background: hsl(0deg, 0%, 9%);
  gap: 3px;
}
.apartment .apartments .houses .about button img {
  height: 15px;
  max-width: 20px;
}

.neigbourhood {
  padding: 2rem clamp(1rem, 6vw, 15rem);
}
.neigbourhood h3 {
  color: hsl(35deg, 100%, 51%);
  font-size: calc(2rem - 5px);
}
.neigbourhood p {
  color: hsla(0deg, 0%, 100%, 0.5);
  font-size: 1rem;
  margin: 1rem 0;
}
.neigbourhood .map {
  background: hsl(0deg, 0%, 100%);
  overflow: hidden;
  border-radius: 8px;
}
.neigbourhood .map__img {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
}
.neigbourhood .map div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.neigbourhood .map div button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 110px;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 6px;
  padding: 0.5rem;
  color: rgba(27, 27, 27, 0.55);
  background: hsl(0deg, 0%, 100%);
  border: none;
  margin: 0.5rem 0;
}
.neigbourhood .map div button img {
  height: 18px;
}

.about__us {
  display: flex;
  justify-content: space-between;
  padding: 5rem clamp(1rem, 6vw, 15rem);
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5rem;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  background: url("../assets/about-bg.png") no-repeat;
  background-size: cover;
}
.about__us h3 {
  color: hsl(202deg, 100%, 56%);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about__us h4 {
  color: hsl(202deg, 100%, 56%);
  font-size: 1.5rem;
}
.about__us h5 {
  color: rgba(255, 251, 251, 0.65);
  font-size: 1rem;
  margin: 0.7rem 0;
}
.about__us p {
  font-size: 0.9rem;
  color: white;
  line-height: 1.7rem;
}
.about__us button {
  color: hsl(0deg, 0%, 100%);
  background: hsl(202deg, 100%, 56%);
  box-shadow: 0px 1px 30px hsl(202deg, 100%, 56%);
  font-family: "Inter";
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px #2D5981;
  font-size: 1rem;
  margin-top: 1rem;
}
.about__us .about {
  flex-grow: 2.5;
  flex-basis: 300px;
}
.about__us .about p {
  max-width: 600px;
}
.about__us .what-we-do {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  flex-basis: 300px;
  gap: 2rem;
  text-align: center;
  margin: auto;
}
.about__us .what-we-do p {
  max-width: 280px;
  margin: auto;
}

.dream__home {
  color: hsl(0deg, 0%, 100%);
  padding: 3rem clamp(1rem, 6vw, 15rem);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}
.dream__home div {
  flex-grow: 1;
  flex-basis: 350px;
}
.dream__home div h2 {
  font-size: clamp(2.5rem, 4.3vw, 3.5rem);
  margin-bottom: 1.5rem;
}
.dream__home div h2 span {
  color: hsl(202deg, 100%, 56%);
}
.dream__home div p {
  color: hsla(0deg, 100%, 99%, 0.65);
  font-size: 1.5rem;
}
.dream__home form {
  flex-grow: 1;
  flex-basis: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 580px;
  margin: auto;
  gap: 1rem;
}
.dream__home form input {
  color: hsl(0deg, 0%, 95%);
  font-size: 1rem;
  flex-grow: 1;
  flex-basis: 200px;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(0deg, 0%, 95%);
  padding: 0.6rem 0;
  margin-bottom: 1rem;
  max-width: 100%;
}
.dream__home form input:focus {
  outline: none;
  border-bottom: 2px solid hsl(202deg, 100%, 56%);
}
.dream__home form select {
  flex-grow: 1;
  flex-basis: 200px;
  font-size: 1rem;
  background: transparent;
  border: none;
  padding-bottom: 2.5px;
  border-bottom: 1px solid hsl(0deg, 0%, 95%);
  color: hsl(0deg, 0%, 95%);
  max-width: 100%;
}
.dream__home form select:focus {
  outline: none;
  border-bottom: 2px solid hsl(202deg, 100%, 56%);
}
.dream__home form select option {
  color: hsl(0deg, 0%, 95%);
  background: black;
}
.dream__home form select option:hover {
  background: white;
}
.dream__home form textarea {
  flex-basis: 600px;
  flex-grow: 1;
  font-size: 1rem;
  resize: none;
  border: none;
  border-bottom: 1px solid hsl(0deg, 0%, 95%);
  background: transparent;
  color: hsl(0deg, 0%, 95%);
  padding: 0.6rem 0;
  max-width: 100%;
}
.dream__home form textarea:focus {
  outline: none;
  border-bottom: 2px solid hsl(202deg, 100%, 56%);
}
.dream__home form button {
  color: hsl(0deg, 0%, 100%);
  background: hsl(202deg, 100%, 56%);
  box-shadow: 0px 1px 30px hsl(202deg, 100%, 56%);
  font-family: "Inter";
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.apartment-view {
  padding: 5rem 0;
  display: flex;
}
.apartment-view .apartment-preview .property {
  display: flex;
  justify-content: space-between;
}
.apartment-view .apartment-preview .property h2 {
  color: hsl(202deg, 100%, 56%);
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0 clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property p {
  color: hsla(0deg, 100%, 99%, 0.65);
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.8rem;
  padding: 0 clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property figure {
  padding: 0 clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property figure img {
  width: 100%;
}
.apartment-view .apartment-preview .property .services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property .services ul {
  width: -moz-fit-content;
  width: fit-content;
  flex-basis: 250px;
  flex-grow: 1;
}
.apartment-view .apartment-preview .property .services ul li {
  color: hsla(0deg, 100%, 99%, 0.65);
  font-size: 1rem;
  margin: calc(1rem + 6px) 0;
  display: flex;
  align-items: center;
}
.apartment-view .apartment-preview .property .services ul li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 20px;
  margin-right: 15px;
  background: url("../assets/mark.svg") no-repeat;
}
.apartment-view .apartment-preview .property .video {
  padding: 2rem clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property .video h3 {
  color: hsl(202deg, 100%, 56%);
  font-size: 1.5rem;
  margin: 1rem 0;
}
.apartment-view .apartment-preview .property .video img {
  width: 100%;
}
.apartment-view .apartment-preview .property .map {
  padding: 2rem clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property .map h3 {
  color: hsl(202deg, 100%, 56%);
  font-size: 1.5rem;
  margin: 1rem 0;
}
.apartment-view .apartment-preview .property .map img {
  width: 100%;
}
.apartment-view .apartment-preview .property .listings {
  padding: 2rem 0 2rem clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .property .listings picture {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 1.5rem;
  padding-right: clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .user {
  padding-right: clamp(1rem, 6vw, 15rem);
}
.apartment-view .apartment-preview .user img {
  display: block;
  margin: auto;
  height: 11.2rem;
}
.apartment-view .apartment-preview .user h2 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.apartment-view .apartment-preview .user form {
  margin: 2rem 0;
}
.apartment-view .apartment-preview .user form label {
  color: white;
  font-size: 0.9rem;
  margin: 5px 0;
  display: block;
}
.apartment-view .apartment-preview .user form input {
  background: hsl(0deg, 0%, 5%);
  border: none;
  color: hsla(0deg, 100%, 99%, 0.65);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 100%;
}
.apartment-view .apartment-preview .user form input:focus {
  outline: 1px solid hsl(0deg, 0%, 5%);
}/*# sourceMappingURL=main.css.map */